/* make sure toolkit.legacyUserProfileCustomizations.stylesheets is true in about:config */

.urlbar-history-dropmarker {
  display:none !important;
}

#main-window[titlepreface*="α"] #TabsToolbar {
    display: none;
}

/* old attribute selector for sideberry
 * now using the special character in the main-window title
 * #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
 */

/* don't show splitter when using tree style tabs */
 */
#main-window[titlepreface*="α"] #sidebar-splitter {
    display: none !important;
}

/* don't show header when using tree style tabs */
#main-window[titlepreface*="α"] #sidebar-header {
    display: none !important;
}

:root {
  --sidebar-hover-width: 7px;
  --sidebar-visible-width: 400px;
  --sidebar-delay: 150ms;
}

#main-window[titlepreface="α"] #sidebar-box {
  right: var(--sidebar-hover-width) !important;
  min-width: var(--sidebar-hover-width) !important;
  max-width: var(--sidebar-hover-width) !important;
  background-color: #1389ed !important;
  transition-delay: var(--sidebar-delay) !important;
  z-index: 2;
}

#main-window[titlepreface="α"] #sidebar-box:hover {
  margin-left: calc(var(--sidebar-hover-width) - var(--sidebar-visible-width)) !important;
  right: var(--sidebar-visible-width) !important;
  min-width: var(--sidebar-visible-width) !important;
  max-width: var(--sidebar-visible-width) !important;
  transition-delay: var(--sidebar-delay) !important;
  z-index: 1;
}

#main-window[titlepreface="α"] #sidebar {
  opacity: 0 !important;
  max-width: none !important;
  min-width: 0px !important;
  transition-delay: var(--sidebar-delay) !important;
}

#main-window[titlepreface="α"] #sidebar:hover {
  opacity: 1 !important;
  transition-delay: var(--sidebar-delay) !important;
}
